# Folders
bin/
obj/
sql/
debug/
Release/
build/
packages/
webroot/
.dotnet/
.idea/
.local/
.history/
.nuget/
.tmp/
.vs/
.vscode/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace


*.zip
*.pem
*.pub
*.tfvars
*.tfstate
*.tfbackup
*.lts
.project
.settings
.classpath
*.feature.cs

*.bak
*.v3.ncrunch*

# VS files
*.dbmdl
*.ncb
*.suo
*.vspscc
*.jfm
*.log
global.json
launch.json
docker-compose-id.yaml

# Settings
*.dotCover
*.DotSettings
*.StyleCop
*.user
*.AssemblyInfo.cs
!packages/repositories.config
